---
title: The Turning Point 
---
<head>
  <title>The Turning Point</title>
  <meta name="description" content="Francisco Trindade's Blog">
  <meta name="viewport" content="width=device-width">

  <link href="/stylesheets/main.css" media="screen, projection" rel="stylesheet" type="text/css" />
  <link href="/stylesheets/global.css" media="screen, projection" rel="stylesheet" type="text/css" />
  <link href='http://fonts.googleapis.com/css?family=Exo:400,600,400italic' rel='stylesheet' type='text/css'>
</head>
<body>
  <!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->
  <div id="container">
    <div id="sidebar">
      <div id="title">
        <a href="/index.html">The Turning Point</a>
      </div>

      <ul id="navigation">
        <li><a href="/pages/about.html" type="text/html">About</li></a>
        <li><a href="/index.html" type="text/html">Blog</a></li>
        <li>Presentations</li>
        <li>Short Bio</li>
      </ul>
    </div>
    <div id="main">
      {{ content }}
    </div>
  </div>
    <script>
      var _gaq=[['_setAccount','UA-29213612-1'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>
</body>
</html>
